* {
    font-size: 9px;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
}

th {
    border-top: 1px solid gray !important;
    border-collapse: collapse;
}

td,
tr,
table {
    border-top: 0.2px solid gainsboro !important;
    border-collapse: collapse;
    margin-top: 10px;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
    /* width: 58mm;
    max-width: 58mm; */
    display: inline-block;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {

    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 1cm !important;
    }
}

.ticket img {
    width: 60px;
}

html, body {
    text-align: center;
}

.header {
    text-align: center;
    align-content: center;
}
.address {
    text-align: center;
}

.bill-total {
    font-weight: 600;
    text-align: right;
}

.give-back-cust {
    text-align: right;
}

.no {
    width: 30px !important;
    /* font-size:smaller !important; */
}

.quantity {
    width: 30px !important;
}

.description {
    padding: 0 !important;
    margin: 0 !important;
    text-align: left !important;
}